@font-face {
	font-family: 'Anton';
	font-style: normal;
	font-weight: normal;
	src:
		local('Anton Regular'),
		local('Anton-Regular'),
		/* from https://fonts.gstatic.com/s/anton/v8/J56qdu2k8bTBzqj6o9e_cQ.eot */
		url('Anton.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/anton/v8/tilmJBBU81h1G7ZsdY3Hmw.woff */
		url('Anton.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/anton/v8/o-91-t7-bPc7W26HmS2N4Q.woff2 */
		url('Anton.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=XMgIKp1BZj6JIXOPBGyt0g&skey=3e16a04254d4c9b3&v=v8#Anton */
		url('Anton.svg#Anton') format('svg'),
		/* from https://fonts.gstatic.com/s/anton/v8/5t8vP9Hx2udzw372glmOxA.ttf */
		url('Anton.ttf') format('truetype');
}
