@font-face {
	font-family: 'BenchNine';
	font-style: normal;
	font-weight: 300;
	src:
		local('BenchNine Light'),
		local('BenchNine-Light'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/ah9xtUy9wLQ3qnWa2p-piXZ2MAKAc2x4R1uOSeegc5U.eot */
		url('BenchNine_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/ah9xtUy9wLQ3qnWa2p-piXhCUOGz7vYGh680lGh-uXM.woff */
		url('BenchNine_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/ah9xtUy9wLQ3qnWa2p-piegdm0LZdjqr5-oayXSOefg.woff2 */
		url('BenchNine_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=ah9xtUy9wLQ3qnWa2p-piVlIn5tFQcqMuf-jhyJP0ps&skey=aa9e2137948a9eff&v=v5#BenchNine */
		url('BenchNine_300.svg#BenchNine') format('svg'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/ah9xtUy9wLQ3qnWa2p-piYnF5uFdDttMLvmWuJdhhgs.ttf */
		url('BenchNine_300.ttf') format('truetype');
}
@font-face {
	font-family: 'BenchNine';
	font-style: normal;
	font-weight: normal;
	src:
		local('BenchNine Regular'),
		local('BenchNine-Regular'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/xmB9oJNpSFKa3qTF2JABPvY6323mHUZFJMgTvxaG2iE.eot */
		url('BenchNine.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/xmB9oJNpSFKa3qTF2JABPj8E0i7KZn-EPnyo3HZu7kw.woff */
		url('BenchNine.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/xmB9oJNpSFKa3qTF2JABPltXRa8TVwTICgirnJhmVJw.woff2 */
		url('BenchNine.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=xmB9oJNpSFKa3qTF2JABPpbd9NUM7myrQQz30yPaGQ4&skey=f6d31822b7395c1d&v=v5#BenchNine */
		url('BenchNine.svg#BenchNine') format('svg'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/xmB9oJNpSFKa3qTF2JABPqCWcynf_cDxXwCLxiixG1c.ttf */
		url('BenchNine.ttf') format('truetype');
}
@font-face {
	font-family: 'BenchNine';
	font-style: normal;
	font-weight: 700;
	src:
		local('BenchNine Bold'),
		local('BenchNine-Bold'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWXZ2MAKAc2x4R1uOSeegc5U.eot */
		url('BenchNine_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWXhCUOGz7vYGh680lGh-uXM.woff */
		url('BenchNine_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWegdm0LZdjqr5-oayXSOefg.woff2 */
		url('BenchNine_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=qZpi6ZVZg3L2RL_xoBLxWVlIn5tFQcqMuf-jhyJP0ps&skey=2988da53b00b93d9&v=v5#BenchNine */
		url('BenchNine_700.svg#BenchNine') format('svg'),
		/* from https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWYnF5uFdDttMLvmWuJdhhgs.ttf */
		url('BenchNine_700.ttf') format('truetype');
}
