@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: normal;
	src:
		local('Libre Baskerville'),
		local('LibreBaskerville-Regular'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK2F7WC2UG4aaA4SZk0HPHJg.eot */
		url('Libre_Baskerville.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5Rby8KfwQsaipLBqMCVNtM.woff */
		url('Libre_Baskerville.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2 */
		url('Libre_Baskerville.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=pR0sBQVcY0JZc_ciXjFsK0a0MgkfBR95Z0kZUwmzdX4&skey=1ccff9706b4dcbb3&v=v4#LibreBaskerville */
		url('Libre_Baskerville.svg#LibreBaskerville') format('svg'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsKwAUTJOA6-irsSazDq377BE.ttf */
		url('Libre_Baskerville.ttf') format('truetype');
}
@font-face {
	font-family: 'Libre Baskerville';
	font-style: italic;
	font-weight: normal;
	src:
		local('Libre Baskerville Italic'),
		local('LibreBaskerville-Italic'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5ZBQH13TilI9-e620I2pL1I.eot */
		url('Libre_Baskerville_italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5dgliI79_bmRXH6crmREtCo.woff */
		url('Libre_Baskerville_italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5eUHi-3yDrzgLLsrfaKVF9k.woff2 */
		url('Libre_Baskerville_italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=QHIOz1iKF3bIEzRdDFaf5f8arhTf3IhpJG-4h56ptSk&skey=44cd15477bf5bb2d&v=v4#LibreBaskerville */
		url('Libre_Baskerville_italic.svg#LibreBaskerville') format('svg'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5ZEdosCNS0EvOwDBzJZsz8o.ttf */
		url('Libre_Baskerville_italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 700;
	src:
		local('Libre Baskerville Bold'),
		local('LibreBaskerville-Bold'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v_fr9m1k3tZymdin9USByuQ.eot */
		url('Libre_Baskerville_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5vz8SLKRGgamuUl1hIefMyNI.woff */
		url('Libre_Baskerville_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v6y7YSlLHrWsjpD3RcrnyFM.woff2 */
		url('Libre_Baskerville_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=kH7K4InNTm7mmOXXjrA5v-eGOgETBQKeJZeg6Dxg_Xg&skey=c168ba7fe84b1774&v=v4#LibreBaskerville */
		url('Libre_Baskerville_700.svg#LibreBaskerville') format('svg'),
		/* from https://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v_gg4qM5Rpmu0ASAribBgqE.ttf */
		url('Libre_Baskerville_700.ttf') format('truetype');
}
