@font-face {
	font-family: 'Merriweather Sans';
	font-style: normal;
	font-weight: 300;
	src:
		local('Merriweather Sans Light'),
		local('MerriweatherSans-Light'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowdYASHgfgyB7g8BNe7pvKXk.eot */
		url('Merriweather_Sans_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowY_zIojJi0m4a5Z6tRh6itY.woff */
		url('Merriweather_Sans_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowQaqY1RzDqUCoj4OhtiyHDU.woff2 */
		url('Merriweather_Sans_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=6LmGj5dOJopQKEkt88Gowf7gLAdE0g3W2xR_7qCivyo&skey=f2526645647a84ff&v=v8#MerriweatherSans */
		url('Merriweather_Sans_300.svg#MerriweatherSans') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowQNd2zpumJ3ZXdYPaAdqT7w.ttf */
		url('Merriweather_Sans_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Merriweather Sans';
	font-style: italic;
	font-weight: 300;
	src:
		local('Merriweather Sans Light Italic'),
		local('MerriweatherSans-LightItalic'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVUj5MoXaAlgVrZoSSZbYcLk.eot */
		url('Merriweather_Sans_300italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVX9UU5BmOJGkLxUCVv5VXdc.woff */
		url('Merriweather_Sans_300italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVVyxQjJdVDgrQF1Nc7eshrI.woff2 */
		url('Merriweather_Sans_300italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=nAqt4hiqwq3tzCecpgPmVfLkhS8sGo5YCj40BkrWvWg&skey=9b01c8cd69965e3e&v=v8#MerriweatherSans */
		url('Merriweather_Sans_300italic.svg#MerriweatherSans') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVZK-EqCRAgJ4DGsxXn5jo_s.ttf */
		url('Merriweather_Sans_300italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Merriweather Sans';
	font-style: normal;
	font-weight: normal;
	src:
		local('Merriweather Sans'),
		local('MerriweatherSans-Regular'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/AKu1CjQ4qnV8MUltkAX3sE2k4ogKuXZ6cvJ9G6hiscg.eot */
		url('Merriweather_Sans.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/AKu1CjQ4qnV8MUltkAX3sL2aU247V0zTzydO4RoO9Ok.woff */
		url('Merriweather_Sans.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/AKu1CjQ4qnV8MUltkAX3sMZ4HySTEWshgORbPp2tk8k.woff2 */
		url('Merriweather_Sans.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=AKu1CjQ4qnV8MUltkAX3sBSsawf2cF_d9q9gtt4yBuk&skey=d5dbcab03e19f051&v=v8#MerriweatherSans */
		url('Merriweather_Sans.svg#MerriweatherSans') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/AKu1CjQ4qnV8MUltkAX3sFBI1aZvkJLeFEwcwXkBYq0.ttf */
		url('Merriweather_Sans.ttf') format('truetype');
}
@font-face {
	font-family: 'Merriweather Sans';
	font-style: italic;
	font-weight: normal;
	src:
		local('Merriweather Sans Italic'),
		local('MerriweatherSans-Italic'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/3Mz4hOHzs2npRMG3B1ascT73cJzAx8H21t3siz5PJJM.eot */
		url('Merriweather_Sans_italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/3Mz4hOHzs2npRMG3B1ascf0KIgDhPIHb_R-SWdtqte8.woff */
		url('Merriweather_Sans_italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/3Mz4hOHzs2npRMG3B1ascefU2ka509O1odprhyXBUMU.woff2 */
		url('Merriweather_Sans_italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=3Mz4hOHzs2npRMG3B1ascWLjQhJN2InzDCEXlWgBuF0&skey=72a671c1f23a2f55&v=v8#MerriweatherSans */
		url('Merriweather_Sans_italic.svg#MerriweatherSans') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/3Mz4hOHzs2npRMG3B1ascbearE5_VzBcjtDoaNr3b3c.ttf */
		url('Merriweather_Sans_italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Merriweather Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local('Merriweather Sans Bold'),
		local('MerriweatherSans-Bold'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowaD2fnm4z6Nq0x6aGUXpBdU.eot */
		url('Merriweather_Sans_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowQfd-b-I5PxxcmB4_-MNcqw.woff */
		url('Merriweather_Sans_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowbvMLSVzqOGkoxdgTSsKqWM.woff2 */
		url('Merriweather_Sans_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=6LmGj5dOJopQKEkt88GowWP5VslNTEcDcw1F0gKB_1Y&skey=d85cd7b3d911b492&v=v8#MerriweatherSans */
		url('Merriweather_Sans_700.svg#MerriweatherSans') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowfqJSHIsY8pKqTgTouATXAk.ttf */
		url('Merriweather_Sans_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Merriweather Sans';
	font-style: italic;
	font-weight: 700;
	src:
		local('Merriweather Sans Bold Italic'),
		local('MerriweatherSans-BoldItalic'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVQHKcHgsjoggO6IrKqD_mBM.eot */
		url('Merriweather_Sans_700italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVYM8pfYvjMoOxygpzLVILAs.woff */
		url('Merriweather_Sans_700italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVafo0sDQ75c9ExQ-26lwTdA.woff2 */
		url('Merriweather_Sans_700italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=nAqt4hiqwq3tzCecpgPmVc_JO2nlopTfM618HGSBb2M&skey=7feceef78736c4e8&v=v8#MerriweatherSans */
		url('Merriweather_Sans_700italic.svg#MerriweatherSans') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVQqfFxSJsGWORebWzQ_6S3g.ttf */
		url('Merriweather_Sans_700italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Merriweather Sans';
	font-style: normal;
	font-weight: 800;
	src:
		local('Merriweather Sans ExtraBold'),
		local('MerriweatherSans-ExtraBold'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowQcrWKLI4rh04OfjsZvU_LE.eot */
		url('Merriweather_Sans_800.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowWT7sFQ1Iz1BbpcuCPlgc9Q.woff */
		url('Merriweather_Sans_800.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowSdYkh4h72QvAQSOPbRA0ug.woff2 */
		url('Merriweather_Sans_800.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=6LmGj5dOJopQKEkt88Gowb2ZxDYkwCIpygfYvTDBZm8&skey=c5fa14f5cb573efb&v=v8#MerriweatherSans */
		url('Merriweather_Sans_800.svg#MerriweatherSans') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowfIJfOcmuekKI9HFvv_Ow38.ttf */
		url('Merriweather_Sans_800.ttf') format('truetype');
}
@font-face {
	font-family: 'Merriweather Sans';
	font-style: italic;
	font-weight: 800;
	src:
		local('Merriweather Sans ExtraBold Italic'),
		local('MerriweatherSans-ExtraBoldItalic'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVcH0I4tMsnbbth0OMeUPnb0.eot */
		url('Merriweather_Sans_800italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVW2xy75WLVt7UI7Cycabsy8.woff */
		url('Merriweather_Sans_800italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVfrUSW10CwTuVx9PepRx9ls.woff2 */
		url('Merriweather_Sans_800italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=nAqt4hiqwq3tzCecpgPmVdZSK4Zota1GH2Wh0i7eFOw&skey=c46cf4e59b4d7e5e&v=v8#MerriweatherSans */
		url('Merriweather_Sans_800italic.svg#MerriweatherSans') format('svg'),
		/* from https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVcn79XP5f7_gPslCYOZ5R-k.ttf */
		url('Merriweather_Sans_800italic.ttf') format('truetype');
}
