@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 200;
	src:
		local('Muli ExtraLight'),
		local('Muli-ExtraLight'),
		/* from https://fonts.gstatic.com/s/muli/v10/r70h_w_KYZNeuBZJ7kAJfg.eot */
		url('Muli_200.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/fFqnuPtv4bX924V9EfxkOg.woff */
		url('Muli_200.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/4H56zViCnu0ih5gSuVAQdw.woff2 */
		url('Muli_200.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=6QTcYT5r-tfMldOoIdREkw&skey=da0867e15cbce424&v=v10#Muli */
		url('Muli_200.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/wBn3kQts7ayuao6SJDCSAQ.ttf */
		url('Muli_200.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 200;
	src:
		local('Muli ExtraLight Italic'),
		local('Muli-ExtraLightItalic'),
		/* from https://fonts.gstatic.com/s/muli/v10/VLVaOLQgJSNh81tTTnnv_PY6323mHUZFJMgTvxaG2iE.eot */
		url('Muli_200italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/VLVaOLQgJSNh81tTTnnv_D8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Muli_200italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/VLVaOLQgJSNh81tTTnnv_FtXRa8TVwTICgirnJhmVJw.woff2 */
		url('Muli_200italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=VLVaOLQgJSNh81tTTnnv_Jbd9NUM7myrQQz30yPaGQ4&skey=ca8968e3e5888b91&v=v10#Muli */
		url('Muli_200italic.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/VLVaOLQgJSNh81tTTnnv_KCWcynf_cDxXwCLxiixG1c.ttf */
		url('Muli_200italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 300;
	src:
		local('Muli Light'),
		local('Muli-Light'),
		/* from https://fonts.gstatic.com/s/muli/v10/fol83WnU2mEY9ldFLHpkCA.eot */
		url('Muli_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/_fUwxgthNvUM9WCtMyMvbA.woff */
		url('Muli_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/T-qN9Yh40TTJeenUALkjgg.woff2 */
		url('Muli_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=Jo-bAC5mA_K5Z0ZdP_nREQ&skey=9d8f9a384471fe1c&v=v10#Muli */
		url('Muli_300.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/zR-6QGMCFX5j-6nbH_HpIQ.ttf */
		url('Muli_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 300;
	src:
		local('Muli Light Italic'),
		local('Muli-LightItalic'),
		/* from https://fonts.gstatic.com/s/muli/v10/Q5N_zd0042xOVES9NXt9QvY6323mHUZFJMgTvxaG2iE.eot */
		url('Muli_300italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/Q5N_zd0042xOVES9NXt9Qj8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Muli_300italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/Q5N_zd0042xOVES9NXt9QltXRa8TVwTICgirnJhmVJw.woff2 */
		url('Muli_300italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=Q5N_zd0042xOVES9NXt9Qpbd9NUM7myrQQz30yPaGQ4&skey=e245abdad748de3d&v=v10#Muli */
		url('Muli_300italic.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/Q5N_zd0042xOVES9NXt9QqCWcynf_cDxXwCLxiixG1c.ttf */
		url('Muli_300italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: normal;
	src:
		local('Muli Regular'),
		local('Muli-Regular'),
		/* from https://fonts.gstatic.com/s/muli/v10/BkuZCUxEYxRfSu-XBj9_CA.eot */
		url('Muli.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/kU4XYdV4jtS72BIidPtqyw.woff */
		url('Muli.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/z6c3Zzm51I2zB_Gi7146Bg.woff2 */
		url('Muli.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=5laWPvb-IgmGJk9r92y1Hw&skey=2b55aa3f2f059b75&v=v10#Muli */
		url('Muli.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/BfQP1MR3mJNaumtWa4Tizg.ttf */
		url('Muli.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: normal;
	src:
		local('Muli Italic'),
		local('Muli-Italic'),
		/* from https://fonts.gstatic.com/s/muli/v10/vurWTAYiHMPVScIey50dUQ.eot */
		url('Muli_italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/9pglA9mmygCxuxvISUrc-g.woff */
		url('Muli_italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/RGzT9VzvdKojoeSA3nPC6Q.woff2 */
		url('Muli_italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=Ok1ULmeTg1kfss3jIu3xZQ&skey=f22af9a5d2e9fc47&v=v10#Muli */
		url('Muli_italic.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/AQQ1r0_czneVCtTD9ckSEA.ttf */
		url('Muli_italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 600;
	src:
		local('Muli SemiBold'),
		local('Muli-SemiBold'),
		/* from https://fonts.gstatic.com/s/muli/v10/dYVvno5DDHnFLeji4GhtqA.eot */
		url('Muli_600.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/aJq3s1gF0cfda4RFyoB5YQ.woff */
		url('Muli_600.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/SSDjnwDvv9AWqGWApzySVQ.woff2 */
		url('Muli_600.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=WN0YOucRxzD4iYIW92VjfA&skey=2bb7f197995afe85&v=v10#Muli */
		url('Muli_600.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/S9LiixunRYGjiYDwREoeUA.ttf */
		url('Muli_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 600;
	src:
		local('Muli SemiBold Italic'),
		local('Muli-SemiBoldItalic'),
		/* from https://fonts.gstatic.com/s/muli/v10/5ro9EzTZGBUdKaArmtrScvY6323mHUZFJMgTvxaG2iE.eot */
		url('Muli_600italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/5ro9EzTZGBUdKaArmtrScj8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Muli_600italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/5ro9EzTZGBUdKaArmtrScltXRa8TVwTICgirnJhmVJw.woff2 */
		url('Muli_600italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=5ro9EzTZGBUdKaArmtrScpbd9NUM7myrQQz30yPaGQ4&skey=dab4ef71ca696859&v=v10#Muli */
		url('Muli_600italic.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/5ro9EzTZGBUdKaArmtrScqCWcynf_cDxXwCLxiixG1c.ttf */
		url('Muli_600italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 700;
	src:
		local('Muli Bold'),
		local('Muli-Bold'),
		/* from https://fonts.gstatic.com/s/muli/v10/cCFWp1Mlox-aYr8DesZNrw.eot */
		url('Muli_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/YnOGHDyoFuyOkkXJLPMZhw.woff */
		url('Muli_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/WQIsflEaABH2ETkzZKPChw.woff2 */
		url('Muli_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=Eb_E7qc_5Ymc1CSidH9ZIw&skey=76d4d6b6c5f88b12&v=v10#Muli */
		url('Muli_700.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/zDo7ROEZZCd7eFZ9jdOP8g.ttf */
		url('Muli_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 700;
	src:
		local('Muli Bold Italic'),
		local('Muli-BoldItalic'),
		/* from https://fonts.gstatic.com/s/muli/v10/nzxeg9Hd0-hLTMmG-EAtNPY6323mHUZFJMgTvxaG2iE.eot */
		url('Muli_700italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/nzxeg9Hd0-hLTMmG-EAtND8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Muli_700italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/nzxeg9Hd0-hLTMmG-EAtNFtXRa8TVwTICgirnJhmVJw.woff2 */
		url('Muli_700italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=nzxeg9Hd0-hLTMmG-EAtNJbd9NUM7myrQQz30yPaGQ4&skey=240308ae73b73980&v=v10#Muli */
		url('Muli_700italic.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/nzxeg9Hd0-hLTMmG-EAtNKCWcynf_cDxXwCLxiixG1c.ttf */
		url('Muli_700italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 800;
	src:
		local('Muli ExtraBold'),
		local('Muli-ExtraBold'),
		/* from https://fonts.gstatic.com/s/muli/v10/Gwfw_YrRl2AywTKM2Y5bpA.eot */
		url('Muli_800.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/7bzCphO149alNkF2FmPuiA.woff */
		url('Muli_800.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/uLHeTmQh-SODolEfROCiNQ.woff2 */
		url('Muli_800.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=5yNcRMuW0I0SQVZkc6-lgw&skey=988ec28b0e43fb7b&v=v10#Muli */
		url('Muli_800.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/qstYUxeOL8hwB50NF7U10g.ttf */
		url('Muli_800.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 800;
	src:
		local('Muli ExtraBold Italic'),
		local('Muli-ExtraBoldItalic'),
		/* from https://fonts.gstatic.com/s/muli/v10/MV3zGIjB1dmyAU8p1i9RFfY6323mHUZFJMgTvxaG2iE.eot */
		url('Muli_800italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/MV3zGIjB1dmyAU8p1i9RFT8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Muli_800italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/MV3zGIjB1dmyAU8p1i9RFVtXRa8TVwTICgirnJhmVJw.woff2 */
		url('Muli_800italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=MV3zGIjB1dmyAU8p1i9RFZbd9NUM7myrQQz30yPaGQ4&skey=b51c112da67bead0&v=v10#Muli */
		url('Muli_800italic.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/MV3zGIjB1dmyAU8p1i9RFaCWcynf_cDxXwCLxiixG1c.ttf */
		url('Muli_800italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 900;
	src:
		local('Muli Black'),
		local('Muli-Black'),
		/* from https://fonts.gstatic.com/s/muli/v10/Gt3VwoqhHzfhDJ16LlMXDA.eot */
		url('Muli_900.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/v6y1Ig2gA2GS6CCEzu_YLA.woff */
		url('Muli_900.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/UskHAOI1mqI7afNYsPY63g.woff2 */
		url('Muli_900.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=F8AAiMUJ70tV9a5ISgA8ZA&skey=6d9b9421ef4e9374&v=v10#Muli */
		url('Muli_900.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/Bhk5JV4aEEbCnx8-lQNlPQ.ttf */
		url('Muli_900.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 900;
	src:
		local('Muli Black Italic'),
		local('Muli-BlackItalic'),
		/* from https://fonts.gstatic.com/s/muli/v10/kM_53bIPeALgJDWf6MmTEfY6323mHUZFJMgTvxaG2iE.eot */
		url('Muli_900italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/muli/v10/kM_53bIPeALgJDWf6MmTET8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Muli_900italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/muli/v10/kM_53bIPeALgJDWf6MmTEVtXRa8TVwTICgirnJhmVJw.woff2 */
		url('Muli_900italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=kM_53bIPeALgJDWf6MmTEZbd9NUM7myrQQz30yPaGQ4&skey=3100ce7113f22f4&v=v10#Muli */
		url('Muli_900italic.svg#Muli') format('svg'),
		/* from https://fonts.gstatic.com/s/muli/v10/kM_53bIPeALgJDWf6MmTEaCWcynf_cDxXwCLxiixG1c.ttf */
		url('Muli_900italic.ttf') format('truetype');
}
