@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 300;
	src:
		local('Oxygen Light'),
		local('Oxygen-Light'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcfY6323mHUZFJMgTvxaG2iE.eot */
		url('Oxygen_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Oxygen_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcVtXRa8TVwTICgirnJhmVJw.woff2 */
		url('Oxygen_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=AwBqWF2kjhlybWamaKMPcZbd9NUM7myrQQz30yPaGQ4&skey=e098d009b2bba6e9&v=v5#Oxygen */
		url('Oxygen_300.svg#Oxygen') format('svg'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcaCWcynf_cDxXwCLxiixG1c.ttf */
		url('Oxygen_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: normal;
	src:
		local('Oxygen'),
		local('Oxygen-Regular'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/RuRdwqUdkfYP0fpTfyGHiA.eot */
		url('Oxygen.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/RzoNiRR1p2Mqyyz2RwqSMw.woff */
		url('Oxygen.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/78wGxsHfFBzG7bRkpfRnCQ.woff2 */
		url('Oxygen.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=yh90VGZKR0bnBJLT_XYX1g&skey=65a128e59aae3226&v=v5#Oxygen */
		url('Oxygen.svg#Oxygen') format('svg'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/f8OBjBbevvywgbyJOxlO7Q.ttf */
		url('Oxygen.ttf') format('truetype');
}
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 700;
	src:
		local('Oxygen Bold'),
		local('Oxygen-Bold'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2vY6323mHUZFJMgTvxaG2iE.eot */
		url('Oxygen_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2j8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Oxygen_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2ltXRa8TVwTICgirnJhmVJw.woff2 */
		url('Oxygen_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=yVHpdQrmTj9Kax1tmFSx2pbd9NUM7myrQQz30yPaGQ4&skey=43f73195f21e1cbf&v=v5#Oxygen */
		url('Oxygen_700.svg#Oxygen') format('svg'),
		/* from https://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2qCWcynf_cDxXwCLxiixG1c.ttf */
		url('Oxygen_700.ttf') format('truetype');
}
