@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100;
	src:
		local('Roboto Mono Thin'),
		local('RobotoMono-Thin'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-beskzFlZTkzN_FGynPZJZk.eot */
		url('Roboto_Mono_100.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-SeJLMOzE6CCkidNEpZOseY.woff */
		url('Roboto_Mono_100.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-dFPPhm6yPYYGACxOp9LMJ4.woff2 */
		url('Roboto_Mono_100.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=aOIeRp72J9_Hp_8KwQ9M-d3oSpqWURvZ6I3ad-WfbBU&skey=1127b5c448da04c6&v=v4#RobotoMono */
		url('Roboto_Mono_100.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-X4UHu-c0cTZKOwO_f6u1Os.ttf */
		url('Roboto_Mono_100.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 100;
	src:
		local('Roboto Mono Thin Italic'),
		local('RobotoMono-ThinItalic'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dm6KUNDZn-maNE0jF5VeMII.eot */
		url('Roboto_Mono_100italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dghtpAimBp4V9tWdvRZqSBY.woff */
		url('Roboto_Mono_100italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dgCt6Xj8PpQTiblvscQDJGE.woff2 */
		url('Roboto_Mono_100italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=rqQ1zSE-ZGCKVZgew-A9djWAMbaHOTrF8cLO_dwpzTk&skey=13968efb4e982531&v=v4#RobotoMono */
		url('Roboto_Mono_100italic.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9djOcZdradCtERxCpZ54KCOg.ttf */
		url('Roboto_Mono_100italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Mono Light'),
		local('RobotoMono-Light'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7XcjzEax2LfQAlK8DdMzhA.eot */
		url('Roboto_Mono_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fzx_xHqYgAV9Bl_ZQbYUxnQU.woff */
		url('Roboto_Mono_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz0o2lTMeWA_kmIyWrkNCwPc.woff2 */
		url('Roboto_Mono_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=N4duVc9C58uwPiY8_59Fzz4dnM32POWavC8T_whbZeI&skey=6c4331d29fc39c00&v=v4#RobotoMono */
		url('Roboto_Mono_300.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7fB31yxOzP-czbf6AAKCVo.ttf */
		url('Roboto_Mono_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 300;
	src:
		local('Roboto Mono Light Italic'),
		local('RobotoMono-LightItalic'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA1NjWrQGkHHRlfZ8BWrO3Hg.eot */
		url('Roboto_Mono_300italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAzri8ykLuesnP4qBvpSenQU.woff */
		url('Roboto_Mono_300italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA2JNL1kWLlAYCVnltOJOPdY.woff2 */
		url('Roboto_Mono_300italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=1OsMuiiO6FCF2x67vzDKA0xXizVriGdX_mfsKHaa1l4&skey=4cb38aa0118dab10&v=v4#RobotoMono */
		url('Roboto_Mono_300italic.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAwWny9JZk454Xp_xc03maeM.ttf */
		url('Roboto_Mono_300italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: normal;
	src:
		local('Roboto Mono'),
		local('RobotoMono-Regular'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY2fQcKutQXcIrRfyR5jdjY8.eot */
		url('Roboto_Mono.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4bN6UDyHWBl620a-IRfuBk.woff */
		url('Roboto_Mono.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY44P5ICox8Kq3LLUNMylGO4.woff2 */
		url('Roboto_Mono.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=hMqPNLsu_dywMa4C_DEpY3NsigHlcrQGNV8nkUSFQfc&skey=7b92570108d40690&v=v4#RobotoMono */
		url('Roboto_Mono.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY50EAVxt0G0biEntp43Qt6E.ttf */
		url('Roboto_Mono.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: normal;
	src:
		local('Roboto Mono Italic'),
		local('RobotoMono-Italic'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3KSxSvC1lIsK_unZDHWqTBg.eot */
		url('Roboto_Mono_italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3NkZXW4sYc4BjuAIFc1SXII.woff */
		url('Roboto_Mono_italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3Mu2Q0OS-KeTAWjgkS85mDg.woff2 */
		url('Roboto_Mono_italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=mE0EPT_93c7f86_WQexR3DGefNBPGWcFPRAoUX_lgLU&skey=26ea178546e32190&v=v4#RobotoMono */
		url('Roboto_Mono_italic.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3OLrC4Du4e_yfTJ8Ol60xk0.ttf */
		url('Roboto_Mono_italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 500;
	src:
		local('Roboto Mono Medium'),
		local('RobotoMono-Medium'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzyGu2KOSTawI8d9zCvShylg.eot */
		url('Roboto_Mono_500.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzyqHEX2q--o2so14pIEl08w.woff */
		url('Roboto_Mono_500.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7BojE9J5UnpMtv5N3zfxwk.woff2 */
		url('Roboto_Mono_500.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=N4duVc9C58uwPiY8_59Fz6057wUl25f8_0IloMUHk98&skey=8be08dae698074e5&v=v4#RobotoMono */
		url('Roboto_Mono_500.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz_Mi34-dsJKaItLa5TRL9eU.ttf */
		url('Roboto_Mono_500.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 500;
	src:
		local('Roboto Mono Medium Italic'),
		local('RobotoMono-MediumItalic'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA_KmQu4cG5QnmuCFCsciK9o.eot */
		url('Roboto_Mono_500italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA3sOjp2j4oPInuz1P52HMwA.woff */
		url('Roboto_Mono_500italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAw28na7a-F9KZNLutV0Cpw0.woff2 */
		url('Roboto_Mono_500italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=1OsMuiiO6FCF2x67vzDKA7HPwKxjim0WhwsoE4U6r7E&skey=48054f60838faf1a&v=v4#RobotoMono */
		url('Roboto_Mono_500italic.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA34elNPSrJo8K1X7hvJW37A.ttf */
		url('Roboto_Mono_500italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Mono Bold'),
		local('RobotoMono-Bold'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7Ft29aCHKT7otDW9l62Aag.eot */
		url('Roboto_Mono_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzzqR_3kx9_hJXbbyU8S6IN0.woff */
		url('Roboto_Mono_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz4lIZu-HDpmDIZMigmsroc4.woff2 */
		url('Roboto_Mono_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=N4duVc9C58uwPiY8_59Fz3tNmQEE9wZ6UZlmiISB1pg&skey=284979c22fb7938a&v=v4#RobotoMono */
		url('Roboto_Mono_700.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz5_TkvowlIOtbR7ePgFOpF4.ttf */
		url('Roboto_Mono_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 700;
	src:
		local('Roboto Mono Bold Italic'),
		local('RobotoMono-BoldItalic'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA9mkQI_kos-lIOeNt19QAas.eot */
		url('Roboto_Mono_700italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAwRV2F9RPTaqyJ4QibDfkzM.woff */
		url('Roboto_Mono_700italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA49ObOXPY1wUIXqKtDjSdsY.woff2 */
		url('Roboto_Mono_700italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=1OsMuiiO6FCF2x67vzDKA_XRuyUpAA8tGJEYgFPFMx8&skey=ca19db72cfa14f44&v=v4#RobotoMono */
		url('Roboto_Mono_700italic.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA2sGzsqhEorxQDpu60nfWEc.ttf */
		url('Roboto_Mono_700italic.ttf') format('truetype');
}
