@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 200;
	src:
		local('Titillium WebThin'),
		local('TitilliumWeb-Thin'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr2tipnt5-bDVwQAMWISg7Cw.eot */
		url('Titillium_Web_200.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr3XqdloEk0Ij5qwGW4qO9RM.woff */
		url('Titillium_Web_200.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprwWgvz7nq97YPMIWeoEnHDE.woff2 */
		url('Titillium_Web_200.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=anMUvcNT0H1YN4FII8wpr3E7mIvk5CJpNNchNUujq5A&skey=2f3c56be1b8da620&v=v4#TitilliumWeb */
		url('Titillium_Web_200.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr3X8wLqJehFHYvczAG3afGw.ttf */
		url('Titillium_Web_200.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 200;
	src:
		local('Titillium WebThin Italic'),
		local('TitilliumWeb-ThinItalic'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPm-bxDaQwq6PwTfpW6FaBac.eot */
		url('Titillium_Web_200italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPo6qa2KAMrZguqdHYsLxXzk.woff */
		url('Titillium_Web_200italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPk94s9wFhqwla9v9ys0uYos.woff2 */
		url('Titillium_Web_200italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=RZunN20OBmkvrU7sA4GPPt4al6yCLlFH1jUaHs1EDSQ&skey=dac2b5695211f282&v=v4#TitilliumWeb */
		url('Titillium_Web_200italic.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPjbN8npVg18l9kOXuMWNZJM.ttf */
		url('Titillium_Web_200italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	src:
		local('Titillium WebLight'),
		local('TitilliumWeb-Light'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr9t7CptSE8JrzEBcYAilyK8.eot */
		url('Titillium_Web_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff */
		url('Titillium_Web_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr4-67659ICLY8bMrYhtePPA.woff2 */
		url('Titillium_Web_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=anMUvcNT0H1YN4FII8wpryhV5vtGCDkwpBbhPT2A07o&skey=dfcc7191cd1ffbb1&v=v4#TitilliumWeb */
		url('Titillium_Web_300.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr93Z6MveExszb-iKWJY7ddA.ttf */
		url('Titillium_Web_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 300;
	src:
		local('Titillium WebLight Italic'),
		local('TitilliumWeb-LightItalic'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPtJTVoJElbW6j3PUVDN0YsI.eot */
		url('Titillium_Web_300italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPgP_8nJw2RYVCTh3L6gEbno.woff */
		url('Titillium_Web_300italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPpqmdMmZ3RU_nSyRBdIw_WA.woff2 */
		url('Titillium_Web_300italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=RZunN20OBmkvrU7sA4GPPn0VtAwE-4eXpdl-DoRAtVg&skey=bd6f29e5f63b8c92&v=v4#TitilliumWeb */
		url('Titillium_Web_300italic.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPhPpE1UvVmSV1Lr9FL5pkyg.ttf */
		url('Titillium_Web_300italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: normal;
	src:
		local('Titillium Web'),
		local('TitilliumWeb-Regular'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcQU404wzEgdBsmVXv_TVccA.eot */
		url('Titillium_Web.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcdGU7DQ8I6RFMlK0vgclk7w.woff */
		url('Titillium_Web.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2 */
		url('Titillium_Web.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=7XUFZ5tgS-tD6QamInJTcfkES7GmGX8W9rzIV8LvFLo&skey=19ee7c202c5bec48&v=v4#TitilliumWeb */
		url('Titillium_Web.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcU3KvHLhcNjEHFQzwNtdMQY.ttf */
		url('Titillium_Web.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: normal;
	src:
		local('Titillium WebItalic'),
		local('TitilliumWeb-Italic'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/r9OmwyQxrgzUAhaLET_KO8Tbq0JIAxBasyCOJhO_0Tc.eot */
		url('Titillium_Web_italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/r9OmwyQxrgzUAhaLET_KO5amZRho2btt1t2XfPnvt5c.woff */
		url('Titillium_Web_italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/r9OmwyQxrgzUAhaLET_KO6qVnG43xFTRN40gwdrG-aE.woff2 */
		url('Titillium_Web_italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=r9OmwyQxrgzUAhaLET_KOxMtktudclQzwHtQdA8fn9g&skey=d914d87983412807&v=v4#TitilliumWeb */
		url('Titillium_Web_italic.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/r9OmwyQxrgzUAhaLET_KO33biFuL3q2SDfti1FP8KHU.ttf */
		url('Titillium_Web_italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	src:
		local('Titillium WebSemiBold'),
		local('TitilliumWeb-SemiBold'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprxLxgm_AMjpTwd4KJI4gMAk.eot */
		url('Titillium_Web_600.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprx7IBmrqA5IG9z8WNe77b9o.woff */
		url('Titillium_Web_600.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr46gJz9aNFrmnwBdd69aqzY.woff2 */
		url('Titillium_Web_600.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=anMUvcNT0H1YN4FII8wpr-guS4nleEgmTooqts4kpHs&skey=acec4e0d2045640c&v=v4#TitilliumWeb */
		url('Titillium_Web_600.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr4e2tK5W43RXgBRKkM4A5Qg.ttf */
		url('Titillium_Web_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 600;
	src:
		local('Titillium WebSemiBold Italic'),
		local('TitilliumWeb-SemiBoldItalic'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPqEPHtY-wVk_qmvDDTXMTe0.eot */
		url('Titillium_Web_600italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPt8ypw_Pcmus_cxPy1vfDCE.woff */
		url('Titillium_Web_600italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPqnxEWeSxeYH5Yv0OHgSghs.woff2 */
		url('Titillium_Web_600italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=RZunN20OBmkvrU7sA4GPPqBUvuAqjs8fBHAysWxUhAU&skey=b095876923e4daae&v=v4#TitilliumWeb */
		url('Titillium_Web_600italic.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPqVmZCTV49gQmgPOUhY_xPU.ttf */
		url('Titillium_Web_600italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	src:
		local('Titillium WebBold'),
		local('TitilliumWeb-Bold'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr_3fIwTft0hrckEKo-WlaKs.eot */
		url('Titillium_Web_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr0bathaSTBR2c4i13_wzlb0.woff */
		url('Titillium_Web_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprxP6Eu1_xfSBSoi9uie1FdE.woff2 */
		url('Titillium_Web_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=anMUvcNT0H1YN4FII8wpr3sXDVJjrZwD99De-XOrEXE&skey=6e7dbb342580bb18&v=v4#TitilliumWeb */
		url('Titillium_Web_700.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprzsSLeNQG2cy_mKit6iEdYs.ttf */
		url('Titillium_Web_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: italic;
	font-weight: 700;
	src:
		local('Titillium WebBold Italic'),
		local('TitilliumWeb-BoldItalic'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPsirQkOpR7FkAIEg_Ac6FfE.eot */
		url('Titillium_Web_700italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPlOSlXvQaFzdfWjS0Vvc1hI.woff */
		url('Titillium_Web_700italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPrVtATvrkhG8cpz4A3QpLk8.woff2 */
		url('Titillium_Web_700italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=RZunN20OBmkvrU7sA4GPPn_quyfFFhf2pfrH7hypeMc&skey=2736b78faeea368c&v=v4#TitilliumWeb */
		url('Titillium_Web_700italic.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/RZunN20OBmkvrU7sA4GPPvAhmxqQ1BKIUahWaanY54Y.ttf */
		url('Titillium_Web_700italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 900;
	src:
		local('Titillium WebBlack'),
		local('TitilliumWeb-Black'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr1ThAi272OIHIyzGFDZXIdQ.eot */
		url('Titillium_Web_900.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr8vGCqQ_I4mewSLySUmNzHA.woff */
		url('Titillium_Web_900.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr6C95lFCEhr9IpXC9cjRuaU.woff2 */
		url('Titillium_Web_900.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=anMUvcNT0H1YN4FII8wprwpXNIGKqRmRTEaH92-PxxQ&skey=1834815bec1b8264&v=v4#TitilliumWeb */
		url('Titillium_Web_900.svg#TitilliumWeb') format('svg'),
		/* from https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr7TM2ub1b0-XAnaFPbg2y34.ttf */
		url('Titillium_Web_900.ttf') format('truetype');
}
